:root {
    --bg-aboutUs-color: #7ab573;
    --font-aboutUsSpan-color: #a83789;
    --bg-navbar-color: #621A4E;
    --bg-store-color: #d9d9d9;
    --bg-aboutUs-color: #252525;
    --bg-storeTitle-color: #AFADAD;
    --font-storeTitle-color: #d9d9d9;
    --bg-storeKitchen-color: #7Ab573;
    --bg-storeBox-color: #d9d9d9;
    --storeBoxCart-color: #FFC327;
    --storeBoxBgTitle-color: #621A4E;
    --border-storeBox-color: #FFFFFF;
    --font-storeBoxItem-color: #d9d9d9;
    --font-storeBoxDetail-color: #FFC327;
    --font-storeBoxCart-color: #621A4E;
    --font-navbarSpan-color: #79E06C;
}

@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
/* para importar: font-family: 'Sen', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: var(--bg-navbar-color);
    max-width: 100%;
}

main {
    max-width: 100%;
}

/* estilado de navbar */
.cart {
    max-width: 40px;
    border-bottom: 0.5px transparent;
    transition: border-bottom 1s;
}

.cart:hover {
    border-bottom: 0.5px solid #d9d9d9;
    transition: border-bottom 1s;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    height: 70px;
    overflow: hidden;
}

.navbar-logo img {
    max-width: 50px;
}

.navbar-title {
    font-family: 'Sen', sans-serif;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    transition: scale 300ms, color 300ms;
}

.navbar-title span {
    color: #79E06C;
}

.navbar-title:hover {
    scale: 1.01;
    color: #FFC327;
    transition: scale 300ms, color 300ms;
}

/*  debajo la lista oculta */

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu a {
    color: white;
    font-family: 'Sen', sans-serif;

}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #FFFFFF;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: scale(0.4);
    transition: transform 700ms;
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #621A4E;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: scale(0.5);
    transition: transform 700ms;

}

/* estilado de "about us/hero" */

.hero-main {
    background-image: url(./img/jpg/background-hero.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-width: 100%;
}

.hero-main-title {
    text-align: center;
    background-color: #7ab573;
    max-width: 60%;
    padding: 20px;
    border-radius: 30px;
}

.hero-main-title h2 {
    font-family: 'Sen', sans-serif;
    color: white;
    font-weight: 100;
    cursor: default;
}
.hero-main-title span {
    font-family: 'Sen', sans-serif;
    color: #a83789;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero-main-title feSpecularLighting {
    font-family: 'Sen', sans-serif;
    color: white;
    font-weight: 100;
}


.hero-description {
    display: flex;
    background-color: #252525;
    flex-direction: column;
    padding: 20px;
    font-family: 'Sen', sans-serif;

}

.hero-description p {
    color: white;
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px;
}

.hero-description span {
    color: #FFC327;
}

/* estilado de store */